<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../assets/stylesheets/bootstrap/bootstrap.min.css">
    <script src="../assets/js/bootstrap/bootstrap.min.js" type="text/javascript"></script>
</head>

<style>
    .themed {
        background-color: rgba(86, 61, 100, 0.5);
    }
</style>

</head>

<body class="py-4">
    <div class="container">

        <h1>Accueil</h1>

        <p>Liste des utilisateurs</p>

        <ul class="list-group">
            <% users.forEach(function(user){ %>
            <li class="list-group-item themed">
                <%= user.name %>
            </li>
            <% });%>
        </ul>

</body>
</html>